force-app/main/default/flows/DCM_Portal_Travel_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Case_status</name>
        <label>Check Case status</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>NoDataScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Booked_and_waiting_for_Travel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dream_case_record_for_the_contact.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked and waiting for travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TravelDetailsScreen</targetReference>
            </connector>
            <label>Booked and waiting for Travel</label>
        </rules>
        <rules>
            <name>Completed_dream</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dream_case_record_for_the_contact.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>completed dream</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dream_completed</targetReference>
            </connector>
            <label>Completed dream</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DCM Portal - Travel Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCM Portal - Travel Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Dream_case_record_for_the_contact</name>
        <label>Get Dream case record for the contact</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_logged_in_user_contact_details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_logged_in_user_contact_details</name>
        <label>Get logged in user contact details</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dream_case_record_for_the_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Dream_completed</name>
        <label>Dream completed</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt; We&apos;re thrilled to share {!Get_logged_in_user_contact_details.FirstName} {!Get_logged_in_user_contact_details.LastName}&apos;s dream has been successfully fulfilled. Thank you for being a part of this incredible journey. We wish {!Get_logged_in_user_contact_details.FirstName} {!Get_logged_in_user_contact_details.LastName} all the happiness in the world!&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoDataScreen</name>
        <label>NoDataScreen</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dataNotAvailable</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Travel details will be available o&lt;/strong&gt;&lt;strong&gt;nce application status is moved to &apos;Booked and waiting for Travel&apos;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TravelDetailsScreen</name>
        <label>TravelDetailsScreen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Inbound_Connection</name>
            <fieldText>Departing Airline Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inbound_Connection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ArrivingAirline</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Departing Airline&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FlightNoLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Flight Number&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ArrivalDateLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Arrival Date Time (mm/dd/yyyy)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DepartingConnectionTimeLabel1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Departing Connection Time&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>StartingPlaceLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Arriving {!Get_Dream_case_record_for_the_contact.Visiting_Place__c} From What city&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LocatorNoLabel1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Record Locator Number&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inbound_Connection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ArrivingAirlineValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Departing_Airline__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FlightNoValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Departing_Flight_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ArrivalDateValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Arrival_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DepartingCoonectionTimevalue1</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Departing_Connection_DateTime__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>StartingPlaceValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Origin_Location__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LocatorNoValue1</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Departing_Record_Locator_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inbound_Connection_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Departure_Airport_Drop_off_Information</name>
            <fieldText>Departure Airport Drop-off Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Departure_Airport_Drop_off_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>carrierLabel1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Carrier&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>driverNameLabel1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Driver Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>confirmNoLabel1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Confirmation #&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dropOffDateTimeLabel1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Date Time&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Departure_Airport_Drop_off_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>carrierValue1</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Departing_Carrier__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>driverNameValue1</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Departing_DropOff_Driver_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>confirmNoValue1</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Departing_Confirmation_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dropOffDateTimeValuel1</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Departing_Drop_Off_DateTime__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Departure_Airport_Drop_off_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Outbound_Connection</name>
            <fieldText>Return Airline Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Outbound_Connection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DepartingAirlineLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Departing Airline&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DepartingFlightLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Flight Number&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DeaprtingDateLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Departing Date Time (mm/dd/yyyy)&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>departingConnectionTimeLabel2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Departing Connection Time&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ArrivalHomeTimeLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Arrival at Home&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DestinationPlaceLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Return Location&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LocatorNoLabel2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Record Locator Number&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outbound_Connection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DepartingAirlineValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Return_Airline__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DepartingFlightValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Return_Flight_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DepartingDateValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Departing_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>departingConnectionTimeValue2</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Return_Connection_DateTime__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ArrivalHomeTimeValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Arrival_at_Home__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DestinationPlaceValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Return_Location__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>locatorNoValue2</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Return_Record_Locator_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Outbound_Connection_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Return_Drop_off_Details</name>
            <fieldText>Return Drop-off Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Drop_off_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>carrierLabel2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Carrier&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>driverNameLabel2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Driver Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ConfirmationNoLabel2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Confirmation #&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dropOffDatetimeLabel2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Date Time&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Drop_off_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>carrierValue2</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Return_DropOff_carrier__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>driverNameValue2</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Return_DropOff_Driver_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>confirmationNoValue2</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Return_DropOff_Confirmation_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dropOffDateTimeValue2</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Return_DropOff_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Drop_off_Details_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Accomadation</name>
            <fieldText>Accommodation Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Accomadation_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HotelNameLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Resort/Hotel Name&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>hotelConfirmationNoLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Confirmation #&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>checkinDateLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Check in Date&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>checkoutDateLabel</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Check out Date&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accomadation_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>hotelNameValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Resort_Hotel_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>hotelConfirmationNoValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Hotel_Confirmation_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>checkinDateValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Check_in_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>checkoutDateValue</name>
                    <fieldText>&lt;p&gt;{!Get_Dream_case_record_for_the_contact.Check_out_Date_Time__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Accomadation_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_logged_in_user_contact_details</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
