force-app/main/default/flows/DCM_Handling_the_Case_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DC_Second_Level_Process_Submission</name>
        <label>DC Second Level Process Submission</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>DreamCase_Second_Level_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_Case_owner_about_information_missing</name>
        <label>Notify Case owner about information missing</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>interviewEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>interviewEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_schedule_interview</name>
        <label>Send email to schedule interview</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <actionName>Case.Dream_Case_Interview_Schedule_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dream_Case_Interview_Schedule_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_GKTW_File_tracking_records_to_GKTW_collection_variable</name>
        <label>Assign GKTW File tracking records to GKTW collection variable</label>
        <locationX>2690</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>GKTW_FT_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GKTWform1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTW_FT_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GKTWform2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTW_FT_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GKTWform3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTW_FT_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GKTWform4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTW_FT_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GKTWform5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTW_FT_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GKTWform6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_GKTW_file_tracking_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Records_to_File_Tracking_Record_collection</name>
        <label>Assign Records to File Tracking Record collection</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>FileTrackingRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DFApplnFileTracking</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileTrackingRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MedicalAuthFileRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_File_Tracking_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_DFAppln_File_Record</name>
        <label>Assign values DFAppln File Record</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>DFApplnFileTracking.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dream Factory Application</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DFApplnFileTracking.Need_to_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DFApplnFileTracking.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_MedicalAuth_File_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_GKTW_file_records</name>
        <label>Assign values to GKTW file records</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>GKTWform1.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform1.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GKTW Form 1 – Release</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform1.Need_to_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform2.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform2.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GKTW Form 2 – Medical Authorization</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform2.Need_to_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform3.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform3.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GKTW Form 3 – Patient Summary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform3.Need_to_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform4.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform4.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GKTW Form 4 – WDW Adult Release</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform4.Need_to_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform5.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform5.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GKTW Form 5 – WDW Minor Release</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform5.Need_to_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform6.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform6.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GKTW Form 6 – Favorites</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GKTWform6.Need_to_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_GKTW_File_tracking_records_to_GKTW_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_MedicalAuth_File_record</name>
        <label>Assign values to MedicalAuth File record</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MedicalAuthFileRecord.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical Authorization</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalAuthFileRecord.Need_to_Upload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MedicalAuthFileRecord.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Records_to_File_Tracking_Record_collection</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Approval_pending_error_message</name>
        <label>Approval pending error message</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>You can&apos;t change the status because an approval process is pending.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>Check the application type is null. That means first time record is moved to information missing status.</description>
        <name>Check_Application_type_is_null</name>
        <label>Check Application type is null</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Notify_Case_owner_about_information_missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not null</defaultConnectorLabel>
        <rules>
            <name>Application_Type_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_DFAppln_File_Record</targetReference>
            </connector>
            <label>Yes null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>2786</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wait_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wait List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_Time_wait_listed</targetReference>
            </connector>
            <label>Wait List</label>
        </rules>
        <rules>
            <name>Ready_for_Board_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Board Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ProcessInstance</targetReference>
            </connector>
            <label>Ready for Board Approval</label>
        </rules>
        <rules>
            <name>Completed_Dream</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>completed dream</stringValue>
                </rightValue>
            </conditions>
            <label>Completed Dream</label>
        </rules>
        <rules>
            <name>Information_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Information missing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Application_type_is_null</targetReference>
            </connector>
            <label>Information missing</label>
        </rules>
        <rules>
            <name>Give_kids_the_world</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Give Kids the World</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_current_app_type_as_Dream_Factory</targetReference>
            </connector>
            <label>Give kids the world</label>
        </rules>
        <rules>
            <name>Ready_for_Interview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for interview</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_schedule_interview</targetReference>
            </connector>
            <label>Ready for Interview</label>
        </rules>
        <rules>
            <name>Dream_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dream Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_as_Pending_based_On_record_type</targetReference>
            </connector>
            <label>Dream Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check current app type as Dream Factory.  That means first time  the status is changed to &apos;Give kids the world&apos;.</description>
        <name>Check_current_app_type_as_Dream_Factory</name>
        <label>Check current app type as Dream Factory</label>
        <locationX>2822</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_It_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dream Factory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_values_to_GKTW_file_records</targetReference>
            </connector>
            <label>Yes It is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_child_Contact_already_exist</name>
        <label>Does child Contact already exist?(checking duplicates)</label>
        <locationX>611</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_contact_Account_and_waitlist_count_in_case_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Exists</defaultConnectorLabel>
        <rules>
            <name>Not_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_record_that_matched_with_child_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dream_Case_Contact_Record_Type</targetReference>
            </connector>
            <label>Not exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Time_wait_listed</name>
        <label>First Time wait listed?</label>
        <locationX>858</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_waitlist_count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_first_time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Waitlist_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contact_record_that_matched_with_child_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Dream_Child_Contact_Created_successfully</name>
        <label>If Dream Child Contact Created successfully</label>
        <locationX>380</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Dream_Child_Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_dream_child_contact_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_or_guardian_2_details_exit</name>
        <label>Parent or guardian 2 details exit?</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <defaultConnectorLabel>Not available</defaultConnectorLabel>
        <rules>
            <name>yes_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_or_Guardian_First_name2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent_or_Guardian_Last_Name2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Parent_or_Guardian_2_Contact_record</targetReference>
            </connector>
            <label>yes available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pending_Approval_process_Found</name>
        <label>Pending Approval process Found?</label>
        <locationX>1502</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Approval_pending_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes  found</defaultConnectorLabel>
        <rules>
            <name>Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ProcessInstance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DC_Second_Level_Process_Submission</targetReference>
            </connector>
            <label>Not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_status_as_Pending_based_On_record_type</name>
        <label>Update status as Pending based On record type</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dream_Factory_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dream_case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_status_as_Pending_Travel</targetReference>
            </connector>
            <label>Dream Factory Case</label>
        </rules>
        <rules>
            <name>Give_Kids_the_world_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Give_Kids_the_World</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_as_Pending_Travel_Booking</targetReference>
            </connector>
            <label>Give Kids the world case</label>
        </rules>
        <rules>
            <name>Item_Purchase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item_Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_as_Pending_item_Purchased</targetReference>
            </connector>
            <label>Item Purchase</label>
        </rules>
        <rules>
            <name>Meeting_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting_person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_status_as_Pending_Meeting</targetReference>
            </connector>
            <label>Meeting Person</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>streetAndAddressLine</name>
        <dataType>String</dataType>
        <expression>{!$Record.Street_Address__c} + &apos; ,  &apos; + {!$Record.Address_Line_2__c}</expression>
    </formulas>
    <formulas>
        <name>updatedWLCount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Waitlist_Count__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>DCM - Handling the Case Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCM - Handling the Case Status Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dream_Child_Contact</name>
        <label>Create Dream Child Contact</label>
        <locationX>380</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>If_Dream_Child_Contact_Created_successfully</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Child_Birth_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email_of_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Child_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>$Record.Child_Gender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Child_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>streetAndAddressLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Dream_Case_Contact_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email_of_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Dream_Child_Parent_or_Guardian_1_Contact</name>
        <label>Create Dream Child Parent or Guardian 1 Contact</label>
        <locationX>182</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Parent_or_guardian_2_details_exit</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_dream_child_contact_record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email_of_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Parent_or_Guardian_First_name1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Parent_or_Guardian_Last_Name1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>streetAndAddressLine</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Dream_Case_Contact_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email_of_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_File_Tracking_records</name>
        <label>Create File Tracking records</label>
        <locationX>2162</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_App_Type_as_Dream_Factory</targetReference>
        </connector>
        <inputReference>FileTrackingRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_GKTW_file_tracking_records</name>
        <label>create GKTW file tracking records</label>
        <locationX>2690</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>update_app_type_GKTW</targetReference>
        </connector>
        <inputReference>GKTW_FT_collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_or_Guardian_2_Contact_record</name>
        <label>Create Parent or Guardian 2 Contact record</label>
        <locationX>50</locationX>
        <locationY>1619</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_dream_child_contact_record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email_of_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Parent_or_Guardian_First_name2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>$Record.Phone_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Parent_or_Guardian_Last_Name2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Phone_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Dream_Case_Contact_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>$Record.Email_of_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_contact_record_that_matched_with_child_contact</name>
        <label>Get contact record that matched with child contact</label>
        <locationX>611</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_child_Contact_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Child_Birth_date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_of_Family__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dream_Case_Contact_Record_Type</name>
        <label>Get Dream Case Contact Record Type</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Dream_Child_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dream_Case_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_dream_child_contact_record</name>
        <label>Get dream child contact record</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_contact_field_in_case_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Dream_Child_Contact</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ProcessInstance</name>
        <label>Get ProcessInstance</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pending_Approval_process_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_type_as_Dream_Case</name>
        <label>Update Account type as &apos;Dream Case&apos;</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Create_Dream_Child_Parent_or_Guardian_1_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_dream_child_contact_record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Dream Case</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_App_Type_as_Dream_Factory</name>
        <label>Update App Type as Dream Factory</label>
        <locationX>2162</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Application_Type__c</field>
            <value>
                <stringValue>Dream Factory</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_app_type_GKTW</name>
        <label>update app type as GKTW</label>
        <locationX>2690</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Application_Type__c</field>
            <value>
                <stringValue>Give kids the world</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_status_as_Pending_Travel</name>
        <label>Update case status as &apos;Pending Travel&apos;</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Travel Booking</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_Account_and_waitlist_count_in_case_record</name>
        <label>Update contact ,Account and waitlist count field in case record</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_contact_record_that_matched_with_child_contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contact_record_that_matched_with_child_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waitlist_Count__c</field>
            <value>
                <elementReference>updatedWLCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_field_in_case_record</name>
        <label>Update contact ,Account and waitlist count field in case record</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Update_Account_type_as_Dream_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_dream_child_contact_record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_dream_child_contact_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waitlist_Count__c</field>
            <value>
                <elementReference>updatedWLCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_as_Pending_item_Purchased</name>
        <label>Update status as &apos;Pending item Purchased&apos;</label>
        <locationX>4010</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Item Purchased</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_status_as_Pending_Meeting</name>
        <label>update status as &apos;Pending Meeting&apos;</label>
        <locationX>4274</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_as_Pending_Travel_Booking</name>
        <label>Update status as Pending Travel Booking</label>
        <locationX>3746</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Travel Booking</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_waitlist_count</name>
        <label>Update waitlist count</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Waitlist_Count__c</field>
            <value>
                <elementReference>updatedWLCount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2660</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>interviewEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Owner:User.FirstName}, the status of the following case {!$Record.CaseNumber} has been changed to &apos;Information missing&apos;. Please check the reason from case approval recent rejection comments and take action accordingly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Warm Regards,&lt;/p&gt;&lt;p&gt;System Admin.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>interviewEmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Case {!$Record.CaseNumber} has missing information!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DFApplnFileTracking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
    <variables>
        <name>FileTrackingRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
    <variables>
        <name>GKTW_FT_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
    <variables>
        <name>GKTWform1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
    <variables>
        <name>GKTWform2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
    <variables>
        <name>GKTWform3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
    <variables>
        <name>GKTWform4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
    <variables>
        <name>GKTWform5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
    <variables>
        <name>GKTWform6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
    <variables>
        <name>MedicalAuthFileRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>File_Tracking__c</objectType>
    </variables>
</Flow>
