force-app/main/default/flows/DCM_Portal_Accompanying_Child_Form_for_Standard_case_obj.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Accompany_child_data</name>
        <label>Assign Accompany child data</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AccompanyChildRecord.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accompanying_Child_Details.First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccompanyChildRecord.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accompanying_Child_Details.Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccompanyChildRecord.Birth_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accompanying_Child_Details.Birth_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccompanyChildRecord.Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accompanying_Child_Details.Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccompanyChildRecord.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accompanying_Child_Details.Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccompanyChildRecord.Case_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case_record_of_the_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AccompanyChildRecord_to_the_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccompanyChildRecord_to_the_collection</name>
        <label>Assign AccompanyChildRecord to the collection</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AccompanyChildList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccompanyChildRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accompanying_Child_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aunt</name>
        <choiceText>Aunt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aunt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brother</name>
        <choiceText>Brother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brother</stringValue>
        </value>
    </choices>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Father</stringValue>
        </value>
    </choices>
    <choices>
        <name>Female</name>
        <choiceText>Female</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Female</stringValue>
        </value>
    </choices>
    <choices>
        <name>Male</name>
        <choiceText>Male</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Male</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mother</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_submitted_the_form</name>
        <label>Already submitted the form?</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Accompanying_wish_child_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record_of_the_contact.Accompany_Form_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Submitted_Screen</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>genderPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Accompanying_Child_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>relationPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship__c</picklistField>
        <picklistObject>Accompanying_Child_Detail__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>DCM Portal - Accompanying Child Form for Standard case obj {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCM Portal - Accompanying Child Form for Standard case obj</label>
    <loops>
        <name>Accompanying_Child_Details</name>
        <label>Accompanying Child Details</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>AccompanyChildDetails.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Accompany_child_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Accompany_Child_Detail_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Accompany_Child_Detail_Records</name>
        <label>Create Accompany Child Detail Records</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_case_record_Accompany_form_field</targetReference>
        </connector>
        <inputReference>AccompanyChildList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_case_record_of_the_contact</name>
        <label>Get  case record of the contact</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_submitted_the_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_logged_in_user_contact_id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_logged_in_user_contact_id</name>
        <label>Get logged in user contact id</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_case_record_of_the_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_record_Accompany_form_field</name>
        <label>Update case record Accompany form field</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_case_record_of_the_contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accompany_Form_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Accompanying_wish_child_screen</name>
        <label>Accompanying wish child screen</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Accompanying_Child_Details</targetReference>
        </connector>
        <fields>
            <name>headerText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Accompanying Wish Child Form&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formTitle</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please fill out the details of those who wish to accompany the Wish Child on the wish (excluding the Wish Child)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Note&lt;/strong&gt;: Please click Add button to add more members&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccompanyChildDetails</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>First_Name</name>
                <dataType>String</dataType>
                <fieldText>First Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Last_Name</name>
                <dataType>String</dataType>
                <fieldText>Last Name</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Birth_Date</name>
                <dataType>Date</dataType>
                <fieldText>Birth Date</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Relationship</name>
                <choiceReferences>relationPickList</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Relationship</fieldText>
                <fieldType>DropdownBox</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Gender</name>
                <choiceReferences>genderPickList</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Gender</fieldText>
                <fieldType>RadioButtons</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>true</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Submitted_Screen</name>
        <label>Form Submitted Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>headerText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Accompanying Wish Child Form&lt;/span&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formSubmittedLText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(15, 18, 195);&quot;&gt;The form has been submitted already.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_logged_in_user_contact_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccompanyChildList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accompanying_Child_Detail__c</objectType>
    </variables>
    <variables>
        <name>AccompanyChildRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Accompanying_Child_Detail__c</objectType>
    </variables>
</Flow>
