force-app/main/default/flows/DCM_Portal_File_Upload_for_standard_case_obj.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_file_name_to_the_text_variable</name>
        <label>assign file name to the text variable</label>
        <locationX>1590</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>fileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_file_tracking_collection.File_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_File_names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>collect the file name and assign it to the text variable &apos;fileUploadList&apos;</description>
        <name>Assign_File_names</name>
        <label>Assign File names</label>
        <locationX>1590</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>fileUploadList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollectedFileNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_file_tracking_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Dream_Factory_Application</name>
        <choiceText>Dream Factory Application</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dream Factory Application</stringValue>
        </value>
    </choices>
    <choices>
        <name>GKTW_Form1_Release</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 11pt;&quot;&gt;GKTW Form 1 – Release &lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GKTW Form 1 – Release </stringValue>
        </value>
    </choices>
    <choices>
        <name>Medical_Authorization</name>
        <choiceText>&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Medical Authorization&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medical Authorization</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_files_to_be_uploaded</name>
        <label>Are there files to be uploaded</label>
        <locationX>2360</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>NoFileScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_File_Tracking_records_related_with_the_case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_through_file_tracking_collection</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>what_type_of_file</name>
        <label>what type of file</label>
        <locationX>1502</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dream_Factory_Appln_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dream_Factory_Application</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_DF_Appln</targetReference>
            </connector>
            <label>Dream Factory Application</label>
        </rules>
        <rules>
            <name>Medical_Authorization_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Medical_Authorization</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_DF_Medical_Auth</targetReference>
            </connector>
            <label>Medical Authorization</label>
        </rules>
        <rules>
            <name>GKTW_Form_1_Release_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GKTW_Form1_Release</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_GKTW_From1_Release</targetReference>
            </connector>
            <label>GKTW Form 1 – Release</label>
        </rules>
        <rules>
            <name>GKTW_Form_2_Medical_Authorization_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GKTW Form 2 – Medical Authorization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_GKTW_Form_2_Medical_Authorization</targetReference>
            </connector>
            <label>GKTW Form 2 – Medical Authorization</label>
        </rules>
        <rules>
            <name>GKTW_Form_3_Patient_Summary_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GKTW Form 3 – Patient Summary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_GKTW_From3</targetReference>
            </connector>
            <label>GKTW Form 3 – Patient Summary</label>
        </rules>
        <rules>
            <name>GKTW_Form_4_WDW_Adult_Release_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GKTW Form 4 – WDW Adult Release </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_GKTW_From4</targetReference>
            </connector>
            <label>GKTW Form 4 – WDW Adult Release</label>
        </rules>
        <rules>
            <name>GKTW_Form_5_WDW_Minor_Release_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GKTW Form 5 – WDW Minor Release</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_GKTW_From5</targetReference>
            </connector>
            <label>GKTW Form 5 – WDW Minor Release</label>
        </rules>
        <rules>
            <name>GKTW_Form_6_Favorites_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GKTW Form 6 – Favorites</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_GKTW_From6</targetReference>
            </connector>
            <label>GKTW Form 6 – Favorites</label>
        </rules>
        <rules>
            <name>GKTW_Form_7_Travel_Authorization_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GKTW Form 7 – Travel Authorization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_GKTW_From7</targetReference>
            </connector>
            <label>GKTW Form 7 – Travel Authorization</label>
        </rules>
        <rules>
            <name>GKTW_Form_8_Absent_Parent_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GKTW Form 8 – Absent Parent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_GKTW_From8</targetReference>
            </connector>
            <label>GKTW Form 8 – Absent Parent</label>
        </rules>
        <rules>
            <name>GKTW_Form_9_Mobility_Works_Request_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedFileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GKTW Form 9 – Mobility Works Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>uploadedCDIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_file_tracking_record_for_GKTW_From9</targetReference>
            </connector>
            <label>GKTW Form 9 – Mobility Works Request</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>fileNamePickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>File_Name__c</picklistField>
        <picklistObject>File_Tracking__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>filespickList</name>
        <collectionReference>Get_File_Tracking_records_related_with_the_case</collectionReference>
        <dataType>String</dataType>
        <displayField>File_Name__c</displayField>
        <object>File_Tracking__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CollectedFileNames</name>
        <dataType>String</dataType>
        <expression>{!fileUploadList} +  {!fileName} + &apos;, &apos;</expression>
    </formulas>
    <interviewLabel>DCM Portal - File Upload for standard case obj {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DCM Portal - File Upload for standard case obj</label>
    <loops>
        <description>Loop through the file tracking records to get the files list which are to be uploaded by the user</description>
        <name>loop_through_file_tracking_collection</name>
        <label>loop through file tracking collection</label>
        <locationX>1502</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_File_Tracking_records_related_with_the_case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_file_name_to_the_text_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>File_upload_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_case_record_for_the_user</name>
        <label>get case record for the user</label>
        <locationX>2360</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_File_Tracking_records_related_with_the_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Logged_in_User_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_File_Tracking_records_related_with_the_case</name>
        <label>Get File Tracking records related with the case</label>
        <locationX>2360</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_there_files_to_be_uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Need_to_Upload__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>File_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get logged in external user&apos;s contact record</description>
        <name>Get_Logged_in_User_Contact_Record</name>
        <label>Get Logged in User Contact Record</label>
        <locationX>2360</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_case_record_for_the_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_file_name_of_the_selected_file</name>
        <label>Get the file name of the selected file</label>
        <locationX>1502</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>what_type_of_file</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>fileSelection</elementReference>
            </value>
        </filters>
        <object>File_Tracking__c</object>
        <outputAssignments>
            <assignToReference>selectedFileName</assignToReference>
            <field>File_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_DF_Appln</name>
        <label>Update the file tracking record for DF Appln</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dream Factory Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_DF_Medical_Auth</name>
        <label>Update the file tracking record for DF Medical Auth</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical Authorization</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_GKTW_Form_2_Medical_Authorization</name>
        <label>Update the file tracking record for GKTW Form 2 – Medical Authorization</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GKTW Form 2 – Medical Authorization</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_GKTW_From1_Release</name>
        <label>Update the file tracking record for GKTW From1-Release</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GKTW Form 1 – Release</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_GKTW_From3</name>
        <label>Update the file tracking record for GKTW From3</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GKTW Form 3 – Patient Summary</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_GKTW_From4</name>
        <label>Update the file tracking record for GKTW From4</label>
        <locationX>1370</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GKTW Form 4 – WDW Adult Release</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_GKTW_From5</name>
        <label>Update the file tracking record for GKTW From5</label>
        <locationX>1634</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GKTW Form 5 – WDW Minor Release</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_GKTW_From6</name>
        <label>Update the file tracking record for GKTW From 6</label>
        <locationX>1898</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GKTW Form 6 – Favorites</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_GKTW_From7</name>
        <label>Update the file tracking record for GKTW From7</label>
        <locationX>2162</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GKTW Form 7 – Travel Authorization</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_GKTW_From8</name>
        <label>Update the file tracking record for GKTW From8</label>
        <locationX>2426</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GKTW Form 8 – Absent Parent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_file_tracking_record_for_GKTW_From9</name>
        <label>Update the file tracking record for GKTW From9</label>
        <locationX>2690</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GKTW Form 9 – Mobility Works Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_case_record_for_the_user.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Uploaded__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_Upload__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>File_Tracking__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>File_upload_screen</name>
        <label>File upload screen</label>
        <locationX>1502</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_the_file_name_of_the_selected_file</targetReference>
        </connector>
        <fields>
            <name>FileInfoHeaderText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;File Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>filesUploadListLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(37, 37, 37); font-size: 14px;&quot;&gt;The below files need to be uploaded&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>filesToBeUploaded</name>
            <fieldText>&lt;p&gt;{!fileUploadList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>formDownloadLabel</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Use the below links to download the forms&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/resource/Dream_Factory_Application&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Dream Factory Application&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/resource/Dream_Factory_Application&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Medical Authorization (if needed)&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GKTW_forms</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://dreamfactoryofbrooklyn2--dev.sandbox.lightning.force.com/resource/GKTW_Release&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GKTW Form 1 – Release&amp;nbsp;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dreamfactoryofbrooklyn2--dev.sandbox.lightning.force.com/resource/GKTW_Medical_Authorization&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GKTW Form 2 – Medical Authorization&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dreamfactoryofbrooklyn2--dev.sandbox.lightning.force.com/resource/GKTW_Patient_Summary&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GKTW Form 3 – Patient Summary&amp;nbsp;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dreamfactoryofbrooklyn2--dev.sandbox.lightning.force.com/resource/GKTW_WDW_Adult_Release&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GKTW Form 4 – WDW Adult Release&amp;nbsp;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dreamfactoryofbrooklyn2--dev.sandbox.lightning.force.com/resource/GKTW_WDW_Minor_Release&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GKTW Form 5 – WDW Minor Release&lt;/a&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dreamfactoryofbrooklyn2--dev.sandbox.lightning.force.com/resource/GKTW_Favorites&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GKTW Form 6 – Favorites&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dreamfactoryofbrooklyn2--dev.sandbox.lightning.force.com/resource/GKTW_Travel_Authorization&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GKTW Form 7 – Travel Authorization&lt;/a&gt;&amp;nbsp;(only if needed)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dreamfactoryofbrooklyn2--dev.sandbox.lightning.force.com/resource/GKTW_Absent_Parent&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GKTW Form 8 – Absent Parent&amp;nbsp;&lt;/a&gt;(only if needed)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://dreamfactoryofbrooklyn2--dev.sandbox.lightning.force.com/resource/GKTW_Mobility_Works_Request&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;GKTW Form 9 – Mobility Works Request&lt;/a&gt;&amp;nbsp;(only if needed)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_case_record_for_the_user.Application_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Give kids the world</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>fileSelection</name>
            <choiceReferences>filespickList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the file that you want to upload</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>uploadDocuments</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Documents (Note: After each upload, please click &apos;Save File&apos; button to save your uploaded file)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>get_case_record_for_the_user.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>uploadedCDIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>After each upload, please click &apos;Save File&apos; button to save your uploaded file</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>uploadedCDIds</assignToReference>
                <name>contentVersionIds</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fileSelection</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save File</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoFileScreen</name>
        <label>NoFileScreen</label>
        <locationX>3218</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>headerText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;File Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>noFileMsg</name>
            <fieldText>&lt;p&gt;No files need to be uploaded&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2234</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Logged_in_User_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>fileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileUploadList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>to store the uploaded documents content ids</description>
        <name>uploadedCDIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
