force-app/main/default/flows/DCM_Choose_the_Case_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_case_record_type_to_default_record_type</name>
        <label>Assign case record type to  default record type</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>defaultRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dream_Factory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dream_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_record_type_to_default_record_type_2</name>
        <label>Assign case record type to  default record type 2</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>defaultRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Give_Kids_the_World</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dream_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_record_type_to_default_record_type_3</name>
        <label>Assign case record type to  default record type 3</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>defaultRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_Purchase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dream_Type_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_case_record_type_to_default_record_type_4</name>
        <label>Assign case record type to  default record type_4</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>defaultRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meeting_Person</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dream_Type_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Dream_Factory</name>
        <choiceText>Dream Factory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dream Factory</stringValue>
        </value>
    </choices>
    <choices>
        <name>Give_Kids_the_World</name>
        <choiceText>Give Kids the World</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Give Kids the World</stringValue>
        </value>
    </choices>
    <choices>
        <name>Item_Purchase</name>
        <choiceText>Item Purchase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Item Purchase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Meeting_Person</name>
        <choiceText>Meeting Person</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meeting Person</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_the_record_type</name>
        <label>check the current record type</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Dream_Type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dream_factory_Record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dream_case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_case_record_type_to_default_record_type</targetReference>
            </connector>
            <label>Dream factory Record type</label>
        </rules>
        <rules>
            <name>Give_kids_the_world_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Give_Kids_the_World</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_case_record_type_to_default_record_type_2</targetReference>
            </connector>
            <label>Give kids the world record type</label>
        </rules>
        <rules>
            <name>Item_Purchase_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item_Purchase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_case_record_type_to_default_record_type_3</targetReference>
            </connector>
            <label>Item Purchase record type</label>
        </rules>
        <rules>
            <name>Meet_the_person_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting_person</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_case_record_type_to_default_record_type_4</targetReference>
            </connector>
            <label>Meet the person record type</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_the_selected_dream_type</name>
        <label>check the selected dream type</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dream_Factory_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_the_dream_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Dream_Factory</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_type_Id_for_the_selected_dream_type_1</targetReference>
            </connector>
            <label>Dream Factory Selected?</label>
        </rules>
        <rules>
            <name>GKTW_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_the_dream_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Give_Kids_the_World</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_type_for_the_selected_dream_type_2</targetReference>
            </connector>
            <label>GKTW Selected?</label>
        </rules>
        <rules>
            <name>Item_Purchase_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_the_dream_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Item_Purchase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_type_for_the_selected_dream_type_3</targetReference>
            </connector>
            <label>Item Purchase Selected?</label>
        </rules>
        <rules>
            <name>Meeting_Person_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_the_dream_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Meeting_Person</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_record_type_for_the_selected_dream_type_4</targetReference>
            </connector>
            <label>Meeting Person Selected?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DCM - Choose the Case Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>DCM - Choose the Case Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_case_record</name>
        <label>Get case record</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_the_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type_for_the_selected_dream_type_2</name>
        <label>Get record type for the selected dream type 2</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_case_record_type_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Give_Kids_the_World</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type_for_the_selected_dream_type_3</name>
        <label>Get record type for the selected dream type 3</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_case_record_type_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Item_Purchase</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type_for_the_selected_dream_type_4</name>
        <label>Get record type for the selected dream type 4</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_case_record_type_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meeting_person</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record_type_Id_for_the_selected_dream_type_1</name>
        <label>Get record type for the selected dream type 1</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_case_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dream_case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_record_type</name>
        <label>Update case record type</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>success_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_record_type_Id_for_the_selected_dream_type_1.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_record_type_2</name>
        <label>Update case record type 2</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>success_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_record_type_for_the_selected_dream_type_2.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_record_type_3</name>
        <label>Update case record type 3</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>success_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_record_type_for_the_selected_dream_type_3.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_record_type_4</name>
        <label>Update case record type 4</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>success_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_record_type_for_the_selected_dream_type_4.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Dream_Type_Screen</name>
        <label>Dream Type Screen</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_the_selected_dream_type</targetReference>
        </connector>
        <fields>
            <name>Choose_the_dream_type</name>
            <choiceReferences>Dream_Factory</choiceReferences>
            <choiceReferences>Give_Kids_the_World</choiceReferences>
            <choiceReferences>Item_Purchase</choiceReferences>
            <choiceReferences>Meeting_Person</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>defaultRecordType</elementReference>
            </defaultValue>
            <fieldText>Choose the dream type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>success_screen</name>
        <label>success screen</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Your dream type has been changed successfully. Please refresh your case record page to see the update.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_case_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>defaultRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
