force-app/main/default/flows/email_Alter_on_Chatter_Post_from_Portal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_to_Case_Owner</name>
        <label>Email to Case Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.Email_Alert_to_User_on_Chatter_feed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email_Alert_to_User_on_Chatter_feed</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_for_Profile</name>
        <label>Check for Profile</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Dream_Case_Contact_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dream Case Contact Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_Case_Owner</targetReference>
            </connector>
            <label>Is Dream Case Contact Profile?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>email Alter on Chatter Post from Portal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>email Alter on Chatter Post from Portal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Profile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </filters>
        <object>FeedItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
